{
  "default_config": "config/autoProcess.ini",
  "api_key": null,
  "db_url": null,
  "ffmpeg_dir": null,
  "media_extensions": [".mp4", ".mkv", ".avi", ".mov", ".ts"],
  "path_configs": [
    {
      "path": "/mnt/unionfs/Media/TV",
      "config": "config/autoProcess.tv.ini"
    },
    {
      "path": "/mnt/unionfs/Media/Movies/4K",
      "config": "config/autoProcess.movies-4k.ini"
    },
    {
      "path": "/mnt/unionfs/Media/Movies/1080P",
      "config": "config/autoProcess.movies-1080p.ini"
    },
    {
      "path": "/mnt/unionfs/Media/Kids",
      "config": "config/autoProcess.tv-kids.ini"
    },
    {
      "path": "/mnt/unionfs/Media/Movies/Kids",
      "config": "config/autoProcess.movies-kids.ini"
    }
  ]
}
