requests>=2.32,<3
idna>=3.11,<4
requests-cache>=1.3,<2
babelfish>=0.6.1,<1
tmdbsimple>=2.9,<3
mutagen>=1.47,<2
guessit>=3.8,<4
subliminal>=2.6,<3
python-dateutil>=2.9,<3
stevedore>=5.7,<6
qtfaststart>=1.8,<2
cleanit>=0.4.9,<1
plexapi>=4.18,<5
psycopg2-binary>=2.9,<3
python-json-logger>=3.2,<4
